:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input {
  display: none;
}

pre {
  background: lightgrey;
}

code {
  white-space: break-spaces;
}

.github_link {
  width: 60px;
  height: 60px;
}